<div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">                   
                <a class="navbar-brand" href="#">
                    ng-lazyload-bundled - Angular.js 1x + OcLazyLoad + Grunt + Bundled Module
                </a>
            </div>
        </div>
    </nav>

    <div ui-view><!--Module content--></div>

    <div class="container">
        <hr>
        <footer>
            <p>&copy; 2017 nidorx/ng-lazyload-bundled</p>
        </footer>
    </div>
</div>