
.green-controller{

    .jumbotron{
        background: #CCFFCC;
        color: #006600;               
    }

    .poke-details-image{
        background-image:  url('../img/bulbasaur.png');
        width: 300px;
        height: 322px;
    }
}

