
.yellow-controller{

    .jumbotron{
        background: #FFFFCC;
        color: #666600;               
    }

    .poke-details-image{
        background-image:  url('../img/pikachu.png');
        width: 300px;
        height: 276px;
    }
}

