
.blue-controller{    

    .jumbotron{
        background: #CCCCFF;
        color: #000066;               
    }

    .poke-details-image{
        background-image:  url('../img/squirtle.png');
        width: 300px;
        height: 300px;
    }
}

